<div id="sky" [ngClass]="{scrolled: isScrolled}" [ngStyle]="{top: scrollPercentage() < 99 ? window.scrollY + 'px' : earthScrollPosition + 'px'}">
    <div id="upper-decor">
        <div id="upper-left-decor">
            <div id="ul-circle-1" class="circle"></div>
            <div id="ul-circle-2" class="circle"></div>
            <div id="ul-circle-3" class="circle"></div>
        </div>
        <div id="upper-right-decor">
            <div id="ur-circle-1" class="circle"></div>
            <div id="ur-circle-2" class="circle"></div>
        </div>
    </div>

    <div id="greetings">
        <h1>Hi, Welcome</h1>
        <h2>I'm Zahir <span id="waving-hand">👋🏽</span></h2>
        
    </div>
</div>

<div id="earth" #earth>
    <div id="faraway-hill" [ngStyle]="{right: 'calc(-85% + '+ scrollPercentage() / 4 +'%)'}">
    </div>
    
    <div id="about-me" [ngStyle]="{left: 'calc(-65% + '+ scrollPercentage() / 4 +'%)'}">
        <div id="about-me-content">
            <h2>About Me</h2>
            <p>A web developer with 3+ years experience, passionate about coding, design, and videography. Currently cooking: Machine Learning and Data Science skills.</p>
        </div>
    </div>
</div>