<svg id="ladder" xmlns="http://www.w3.org/2000/svg" width="59" height="83" viewBox="0 0 59 83" fill="none">
    <rect x="2" y="41" width="53" height="9" fill="#FFFEFE"/>
    <rect x="1" y="63" width="53" height="9" fill="#FFFEFE"/>
    <rect x="1" y="20" width="53" height="9" fill="#FFFEFE"/>
    <path d="M0 5C0 2.23858 2.23858 0 5 0H8C10.7614 0 13 2.23858 13 5V83H0V5Z" fill="#FFFEFE"/>
    <path d="M46 5C46 2.23858 48.2386 0 51 0H54C56.7614 0 59 2.23858 59 5V83H46V5Z" fill="#FFFEFE"/>
</svg>

<div id="main-content">
    <div id="title-and-cards">
        <h1 id="title">
            <span>C</span>
            <span>O</span>
            <span>N</span>
            <span>T</span>
            <span>A</span>
            <span>C</span>
            <span>T</span>
            &nbsp;
            <span>M</span>
            <span>E</span>
        </h1>
    
        <div id="contact-cards">
            <a id="contact-card" target="_blank" href="mailto:ahmadzahir88@gmail.com">
                <img src="assets/email.png" alt="Email">
            </a>
            <a id="contact-card" target="_blank" href="https://linkedin.com/in/ahmadzahir88">
                <img src="assets/linkedin.png" alt="LinkedIn">
            </a>
            <a id="contact-card" target="_blank" href="https://github.com/ahmad-zahir88">
                <img src="assets/github.png" alt="GitHub">
            </a>
            <a id="contact-card" target="_blank" href="https://instagram.com/ahmadzahir88">
                <img src="assets/instagram.png" alt="Instagram ">
            </a>
        </div>
    </div>
    
    <svg id="duckie" xmlns="http://www.w3.org/2000/svg" width="180" height="88" viewBox="0 0 180 88" fill="none">
        <g id="Group 4">
        <ellipse id="Ellipse 12" cx="95.1502" cy="53.219" rx="84.2213" ry="34.281" fill="url(#paint0_radial_8_49)"/>
        <g id="Ellipse 11" filter="url(#filter0_i_8_49)">
        <ellipse cx="94.727" cy="45.6009" rx="60.0976" ry="15.6592" fill="#36A9B9"/>
        </g>
        <path id="Ellipse 13" d="M31.5 29.0868C31.5 44.8068 34.055 53.1029 26.9691 53.1029C19.8833 53.1029 10.5 51.72 10.5 36C10.5 20.28 12 -0.000244139 26.9691 2.20428e-09C34.055 2.20428e-09 41.1643 7.5 31.5 29.0868Z" fill="#E4D230"/>
        <ellipse id="Ellipse 14" cx="9.73412" cy="23.4773" rx="9.73412" ry="3.38578" fill="#DFA81A"/>
        <ellipse id="Ellipse 15" cx="17.3521" cy="12.4734" rx="2.11611" ry="1.69289" fill="#120202"/>
        </g>
        <defs>
        <filter id="filter0_i_8_49" x="34.6294" y="29.9417" width="120.195" height="32.3184" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dy="2"/>
        <feGaussianBlur stdDeviation="0.5"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_8_49"/>
        </filter>
        <radialGradient id="paint0_radial_8_49" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(94.727 46.0242) rotate(83.5341) scale(63.8898 156.964)">
        <stop stop-color="#DDCD3B"/>
        <stop offset="1" stop-color="#ECD71F"/>
        </radialGradient>
        </defs>
    </svg>
</div>

<div id="platform">
    <div id="diving-board">
        <div id="ground"></div>
        <div id="flying"></div>
    </div>
</div>