<div id="ul-stars">
    <div class="galaxy" id="galaxy-1">
        <span class="star central"></span>
        <div class="satellites">
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
        </div>
    </div>

    <div class="galaxy" id="galaxy-2">
        <span class="star central"></span>
        <div class="satellites">
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
        </div>
    </div>
</div>

<div id="br-stars">
    <div class="galaxy" id="galaxy-3">
        <span class="star central"></span>
        <div class="satellites">
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
        </div>
    </div>

    <div class="galaxy" id="galaxy-4">
        <span class="star central"></span>
        <div class="satellites">
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
        </div>
    </div>
</div>

<div id="planets" #planets>
    <div class="planet-container" id="planet-1">
        <div class="planet" [class.rotated]="is1Rotated" (click)="is1Rotated = !is1Rotated">
            <div class="front-content" [ngStyle]="transformOriginStyle()">
                <h2>Front-End Web Development</h2>
            </div>
            <div class="back-content" [ngStyle]="transformOriginStyle()">
                <h3>Experience</h3>
                <ul>
                    <li>Frontend Web Developer - ANCC (Jul 2022 - Present)</li>
                    <li>Participant & FWD (Host: BMCA) - ANU TechLauncher (Feb 2021 - Nov 2021)</li>
                    <li>Freelance Web Developer (2019 - 2020)</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="planet-container" id="planet-2">
        <div class="planet" [class.rotated]="is2Rotated" (click)="is2Rotated = !is2Rotated">
            <div class="front-content" [ngStyle]="transformOriginStyle()">
                <h2>Graphic Design & Videography</h2>
            </div>
            <div class="back-content" [ngStyle]="transformOriginStyle()">
                <h3>Experience</h3>
                <ul>
                    <li>Director of Photography - Renata Films (Jun 2019) - Link <a href=""> here </a></li>
                    <li>Vice Head of Video Production Team - Salam UI (Jan 2020 - Dec 2020)</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="planet-container" id="planet-3">
        <div class="planet" [class.rotated]="is3Rotated" (click)="is3Rotated = !is3Rotated">
            <div class="front-content" [ngStyle]="transformOriginStyle()">
                <h2>Machine Learning</h2>
            </div>
            <div class="back-content" [ngStyle]="transformOriginStyle()">
                <h3>Experience</h3>
                <ul>
                    <li>Completed Machine Learning Specialisation at ANU (Courses: Intro to ML, Statistical ML, Computer Vision, Document Analysis)</li>
                </ul>
            </div>
        </div>
    </div>
</div>