<h1 id="title"><i>Curriculum Vitae</i></h1>

<div id="ul-stars">
    <div class="galaxy" id="galaxy-1">
        <span class="star central"></span>
        <div class="satellites">
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
        </div>
    </div>

    <div class="galaxy" id="galaxy-2">
        <span class="star central"></span>
        <div class="satellites">
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
        </div>
    </div>
</div>

<div id="br-stars">
    <div class="galaxy" id="galaxy-3">
        <span class="star central"></span>
        <div class="satellites">
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
        </div>
    </div>

    <div class="galaxy" id="galaxy-4">
        <span class="star central"></span>
        <div class="satellites">
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
        </div>
    </div>
</div>